<h4>Какие платежи обязан вносить член товарищества собственников?</h4>
<p>В соответствии со ст. 154 Жилищного кодекса РБ, структура платы за квартиру для собственников включает в себя:</p>
<ul>
<li>Плату за содержание и ремонт жилого помещения, в том числе плату за услуги и работы по управлению многоквартирным домом, содержанию, текущему и капитальному ремонту общего имущества в многоквартирном доме.</li>
<li>Конкретный размер обязательных платежей или взносов членов товарищества собственников жилья определяется органом управления — общим собранием. То есть члены ТСЖ должны собраться и решить, какую сумму они будут выплачивать, чтобы многоквартирный дом ремонтировался, менялись лампочки в подъездах, проводилась уборка.</li>
<li>Плату за коммунальные услуги. В отличие от платы за содержание и ремонт жилья, плата за коммунальные услуги устанавливается органами власти. Напомним, что плата за коммунальные услуги включает в себя плату за холодное и горячее водоснабжение, водоотведение, электроснабжение, газоснабжение, отопление.</li>
<li>Дополнительные взносы в ТСЖ</li>
</ul>